* {
    box-sizing: border-box;
} 
body {
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}   
.var-btn {
    background: black;
    color: yellow;
    height: 45px;
    font-size: 20px;
    letter-spacing: 2px;
    font-family: 'Lobster', cursive, Times, Times New Roman, serif;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 35%;       
}
.var-btn:hover {
    background-color: #e7e7e7;
    color: red;
}
.images {
    
    float: left;
    width: 450px;
    padding: 15px;
    height: 350px;;
    
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.ratings {
    font-weight: bold;
    font-size: 30px;
    padding: 15px;
    background: red;
    width: 185px;
    margin-left: 15px;
    
}
.display-4 {
    text-align: center;
}
#reset {
    background: red;
}

